---

---


<section id="contact" class="section-padding">
    <div class="container-custom">
      <div class="max-w-2xl mx-auto text-center space-y-8">
        <div class="space-y-4">
          <h2
            data-aos="zoom-in"
            class="font-display text-4xl md:text-5xl font-bold"
          >
            Get in <span class="gradient-text">Touch</span>
          </h2>
          <p
            data-aos="fade-up"
            data-aos-delay="100"
            class="text-lg text-muted-foreground"
          >
            Have questions? Want to collaborate? Need support?
          </p>
          <p class="text-primary font-semibold">
            📩 support@overnighttransformations.com
          </p>
        </div>

        <div
          data-aos="fade-up"
          data-aos-delay="200"
          class="card-glass p-8 rounded-lg border"
        >
          <form id="contact-form" class="space-y-6">
            <input
              name="name"
              placeholder="Name"
              required
              class="w-full px-4 py-3 bg-background border border-border rounded-md text-foreground"
            />
            <input
              type="email"
              name="email"
              placeholder="Email"
              required
              class="w-full px-4 py-3 bg-background border border-border rounded-md text-foreground"
            />
            <textarea
              name="message"
              placeholder="Message"
              class="w-full min-h-[150px] p-3 bg-background border border-border rounded-md text-foreground"
              required></textarea>
            <button
              type="submit"
              class="w-full bg-[#CFB53B] cursor-pointer font-bold  text-primary-foreground hover:bg-primary-glow px-8 py-4 rounded-md text-lg transition-all"
            >
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>